.button {
  position: relative;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;

  .text {
    transition: all 0.2s;
  }

  &.button-loading .text {
    visibility: hidden;
    opacity: 0;
  }

  &.button-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spineer 1s ease infinite;
  }

  &.primary {
    background-color: #6e41e2;
    color: white;

    &:hover {
      background-color: #5835b0;
    }
    &:focus {
      background-color: #6e41e2;
      border-color: #412a7e;
    }

    &:active {
      background-color: #472c8a;
    }
  }

  &.secondary {
    background-color: #ffffff;
    color: #6e41e2;

    &:hover {
      background-color: #eee8fc;
    }
    &:focus {
      background-color: #ffffff;
      border-color: #8d8d8d;
    }

    &:active {
      background-color: #70648f;
    }

    &.button-loading::after {
      border-top-color: black;
    }
  }

  &.padding_sm {
    padding: 0.25rem 0.75rem;
  }
  &.padding_md {
    padding: 0.5rem 1rem;
  }
  &.padding_lg {
    padding: 0.75rem 1.25rem;
  }

  @keyframes button-loading-spineer {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }
}
